{% extends "master.html" %}

{% block title %}
  Coordinator
{% endblock %}



{% block content %}

  <form action='.' method="POST" id="alligned">
    {% csrf_token %}

    <label>Scan Name:</label>
    <input type="text" name="scan_name" placeholder="Scan Name"/>

    <div style="margin-top:10px; align-items: center; display: flex">
    <label>Description:</label>
    <textarea name="description" placeholder="Description" style="width: 300px"></textarea>
    </div>

    
    <p>**ENTER mutiple targets separated by commas**</p>
    <div style="align-items: center; display: flex">
    <label>Target(s):</label>
    <textarea name="target" placeholder="Target Range 1, Target Range 2, etc." style="width: 300px"  rows="1"></textarea>
    </div>
    

    
    <div style="margin-top:10px;">
      <label>Schedule:</label>
      <select name="schedule">
        <option value="onetime" selected>One Time Scan</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="quarterly">Quarterly</option>
        <option value="yearly">Yearly</option>
      </select>
    </div>

    <div style="margin-top:30px; margin-left: 170px;">
    <button type="submit">Start Scan</button>
    </div>

  </form>
{% endblock %}